@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro Volvo</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="Modeloes" asp-action="Index">Cadastrar Tipo </a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Caminhaos" asp-action="Index">Cadastrar Caminhão </a>
</div>
